{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}base{% endblock %}</title>
    <script src="{% static 'js/echarts.js'%}"></script>

    <link href="{% static 'myechartsite/css/basecss.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}{% endblock %}
  </head>
  <body>

    <nav class="navbar" style="">
      <div class="container-fluid" style="padding-right:0;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"style="margin-top:8px;">
          <a class="navbar-brand" href="{% url 'myechartsite:firstindex' %}" style="padding-top:10px;" ><img src="../../static/myechartsite/img/homelogo.jpg" alt="homelogo" height="50px;" width="50px;"></a>
          <a class="navbar-brand" style="margin-left:85px;"><img src="../../static/myechartsite/img/navlogo.png" alt="logo" ></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my-nav" >
          <ul class="nav navbar-nav" >
            <li>
              <h3 class="version"  style="">
                {% if request.session.is_login %}
                  {% if request.session.level == "expert" %}
                    专家版
                  {% elif request.session.level == "doctor" %}
                    医生版
                  {% else %}
                    个人版
                  {% endif %}
                {% else %}
                  未登录
                {% endif %}
              </h3>
            </li>
            <li>
              <h3 class="navlb" >{% block kind %}{% endblock %}</h3>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<div class="logbg">
    {% block content %}{% endblock %}
</div>
<div class="footbar">
    <div class="footertext" style="margin-left: 200px;width:58%;">2019普泽众康</div>
    <div class="footertext" style="">FAQ</div>
    <div class="footertext" style="margin-left:40px;">PRIVACY</div>
    <div class="footertext" style="margin-left:40px;">TERMS&CONDITONS</div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
