{% extends 'myechartsite/base_show.html' %}
{% load staticfiles %}
{% block title %}雷达图{% endblock %}
{% block css %}<link href="{% static 'myechartsite/css/disewheathercss.css' %}" rel="stylesheet"/>{% endblock %}
{% block kind %}疾病与天气{% endblock %}

{% block leftsidebar %}
<div class="btn-group-vertical" role="group" id="lbtngp" aria-label="类型">
  <button type="button" class="btn btn-default unshow" onclick="jump('{% url 'myechartsite:diseage' %}')">疾病与年龄</button>
  <button type="button" class="btn btn-default unshow" onclick="jump('{% url 'myechartsite:disegender' %}')">疾病与性别</button>
  <button type="button" class="btn show" >疾病与天气</button>
  <button type="button" class="btn btn-default unshow" onclick="jump('{% url 'myechartsite:disetemp' %}')">疾病与温度</button>
  <button type="button" class="btn btn-default unshow" onclick="jump('{% url 'myechartsite:diseyear' %}')">疾病与年份</button>
  <button type="button" class="btn btn-default unshow" onclick="jump('{% url 'myechartsite:disemonth' %}')">疾病与月份</button>
  <button type="button" class="btn btn-default unshow" onclick="jump('{% url 'myechartsite:diseaqi' %}')">与空气质量</button>
  <button type="button" class="btn btn-default unshow" onclick="jump('{% url 'myechartsite:arearatiomap' %}')">疾病与地域</button>
  <button type="button" class="btn btn-default unshow" onclick="jump('{% url 'myechartsite:arearatiochange' %}')">发病率变化</button>
</div>
{% endblock %}
{% block chart %}
    <div class="ctitle">
        <label style="color: #b558f6; font-size: large; margin-top: 7px;" id="ytitle">2019年</label>
        <label style="color: #d3d3d3; font-size: large; margin-top: 7px;font-size: x-large">|</label>
        <!-- <label style="color: #b558f6; font-size: large; margin-top: 3%;width: auto"id="dise1">肾炎</label> -->
        <label style="font-size: large; position: center; color: #9b9b9b">发病率与天气状况的关系</label>
    </div>
    <div id="main" style="">
    </div>
{% endblock %}
{% block rightsidebar %}
          <div class="disechoose">
            <div class="btntitle">选择疾病类型</div>
            <div class="rbtngroup1">
            <div class="btn-group-vertical scroll1" role="group" aria-label="选择疾病类型" id="rbtn1" >
              <button type="button" id="sy" class="btn rbtnnorm" onclick="choosedise(this,'rbtnact1',0,'nephritis','肾炎')" style="margin-top:10px;">肾炎</button>
              <button type="button" id="pgy" class="btn rbtnnorm" onclick="choosedise(this,'rbtnact2',1,'cystitis','膀胱炎')">膀胱炎</button>
              <button type="button" id="nsz" class="btn rbtnnorm" onclick="choosedise(this,'rbtnact3',2,'urolithiasis','尿石症')">尿石症</button>
              <button type="button" id="tnb" class="btn rbtnnorm" onclick="choosedise(this,'rbtnact4',3,'diabetes','糖尿病')">糖尿病</button>
              <button type="button" id="ndy" class="btn rbtnnorm" onclick="choosedise(this,'rbtnact5',4,'urethritis','尿道炎')">尿道炎</button>
              <button type="button" id="hhd" class="btn rbtnnorm" onclick="choosedise(this,'rbtnact1',5,'nuclearja','核黄疸')">核黄疸</button>
              <button type="button" id="rsgxy" class="btn rbtnnorm" onclick="choosedise(this,'rbtnact2',6,'pregnancyhy','妊娠高血压')">妊娠高血压</button>
            </div>
            </div>
          </div>
          <div class="yearchoose">
            <div class="row" style="margin:0;">
              <div class="col-sm-9 col-md-9 col-lg-9" style="padding-left:0;">
                <div class="btntitle">年份筛选</div>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="yshow">
                <div style="" id="ycshow">2019 </div>
                <div style="color: #b558f6;margin-left:5px;">●</div>
                </div>
              </div>
              </div>
            <div class="rbtngroup2">
              <div class="btn-toolbar scroll2" role="toolbar" aria-label="选择年份">
                <div class="btn-group-vertical " role="group" aria-label="选择年份" id="rbtn2" style="margin-left: 30px;" >
                  <button type="button" class="btn rbtnnorm2" id="y2019" onclick="chooseyear(this,'2019','2019年')" style="margin-top:0px;">2019</button>
                  <button type="button" class="btn rbtnnorm2" id="y2017" onclick="chooseyear(this,'2017','2017年')">2017</button>
                  <button type="button" class="btn rbtnnorm2" id="y2015" onclick="chooseyear(this,'2015','2015年')">2015</button>
                  <button type="button" class="btn rbtnnorm2" id="y2013" onclick="chooseyear(this,'2013','2013年')">2013</button>
                  <button type="button" class="btn rbtnnorm2" id="y2011" onclick="chooseyear(this,'2011','2011年')">2011</button>
                  <button type="button" class="btn rbtnnorm2" id="y2009" onclick="chooseyear(this,'2009','2009年')">2009</button>
                </div>
                <div class="btn-group-vertical" role="group" aria-label="选择年份" id="rbtn3">
                  <button type="button" class="btn rbtnnorm2" id="y2018" onclick="chooseyear(this,'2018','2018年')" style="margin-top:0px;">2018</button>
                  <button type="button" class="btn rbtnnorm2" id="y2016" onclick="chooseyear(this,'2016','2016年')">2016</button>
                  <button type="button" class="btn rbtnnorm2" id="y2014" onclick="chooseyear(this,'2014','2014年')">2014</button>
                  <button type="button" class="btn rbtnnorm2" id="y2012" onclick="chooseyear(this,'2012','2012年')">2012</button>
                  <button type="button" class="btn rbtnnorm2" id="y2010" onclick="chooseyear(this,'2010','2010年')">2010</button>
                  <button type="button" class="btn rbtnnorm2" id="y2008" onclick="chooseyear(this,'2008','2008年')">2008</button>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
{% block js%}
<script>
    function jump(url){
        window.location.href=url;
    }
</script>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript">
        // var a = {{ data|safe }}
        var data
        var year = "2019"
        var p=[0,0,0,0,0,0,0]
        var diselist=['nephritis','cystitis','urolithiasis','diabetes','urethritis','nuclearja','pregnancyhy'];
        var myChart = echarts.init(document.getElementById('main'));
        option = {
            tooltip: {
              // formatter:'{b}<br />{a}发病率:{c}%',
            },
            radar: {
            name: {
              textStyle: {
                color: '#8a8a8a',
                fontSize:20,

           }
            },
            indicator: [
               { name: '晴', max: 100},
               { name: '霾', max: 100},
               { name: '雾', max: 100},
               { name: '雪', max: 100},
               { name: '雨', max: 100},
               { name: '阴', max: 100}
            ]
            },
            series: [{
                name: '天气状况与发病率关联',
                type: 'radar',
                data : [
                {
                  value :[],
                  name : '急/慢性肾炎',

                  lineStyle: {
                          color:'rgba(181, 88, 246, 1)',
                          width: 2
                      },
                  areaStyle: {
                     normal: {
                         color: 'rgba(181, 88, 246, 0.3)'
                     }
                   },
                },
                {
                  value :[],
                  name : '膀胱炎',

                  lineStyle: {
                                color:'rgba(69, 120, 239, 1)',
                                width: 2
                              },
                  areaStyle: {
                     normal: {
                         color: 'rgba(69, 120, 239, 0.3)'
                     }
                   },
                },
                {
                value :[],
                name : '尿石症',

                lineStyle: {
                              color:'rgba(41, 203, 151,1)',
                              width: 2
                            },
                areaStyle: {
                   normal: {
                       color: 'rgba(41, 203, 151,0.3)'
                   }
                  }
                 },
                 {
                 value :[],
                 name : '糖尿病',

                 lineStyle: {
                                 color:'rgba(255, 119, 119, 1)',
                                 width: 2
                             },
                 areaStyle: {
                    normal: {
                        color: 'rgba(255, 119, 119, 0.3)'
                    }
                  }
                 },
                 {
                 value :[],
                 name : '尿道炎',

                 lineStyle: {
                                 color:'rgba(255, 216, 57, 1)',
                                 width: 2
                             },
                 areaStyle: {
                    normal: {
                        color: 'rgba(255, 216, 57, 0.3)'
                    }
                  }
                 },
                 {
                   value :[],
                   name : '核黄疸',

                   lineStyle: {
                                   color:'rgba(181, 88, 246, 1)',
                                   width: 2
                               },
                   areaStyle: {
                      normal: {
                          color: 'rgba(181, 88, 246, 0.3)'
                      }
                    },
                  },
                  {
                    value :[],
                    name : '妊娠高血压',

                    lineStyle: {
                                    color:'rgba(69, 120, 239, 1)',
                                    width: 2
                                },
                    areaStyle: {
                       normal: {
                           color: 'rgba(69, 120, 239, 0.3)'
                       }
                     },
                   }
              ]
        }]
      }
      $(document).ready(function(){
        $.getJSON('/myechartsite/index_expert/disewheather_data',function(ret){
          data = ret
          p[0]=!p[0];
          option.series[0].data[0].value = ret[year].nephritis;
          $("#sy").removeClass("rbtnnorm");
          $("#sy").toggleClass("rbtnact1");
          $("#y2019").addClass("rbtnact");
        myChart.setOption(option,true);
      })
    });

function choosedise(a,css,i,dise,disen){
  $(a).toggleClass("rbtnnorm");
   $(a).toggleClass(css);

     if (p[i]==0)
     {
       option.series[0].data[i].value = data[year][dise];
       p[i] = !p[i];
     }
     else
     {
       option.series[0].data[i].value = [0,0,0,0,0,0];
       p[i] = !p[i];
     };
     myChart.setOption(option,true)
};
function chooseyear(a,y,t){
  $(".rbtnnorm2").removeClass("rbtnact");
  $(a).addClass("rbtnact");
  $('#ytitle').html(t);
  $('#ycshow').html(y);
  year =y;
  $.getJSON('/myechartsite/index_expert/disewheather_data',function(ret){
  for(var i=0; i<7; i++)
  {
    if (p[i]==1)
    {
      option.series[0].data[i].value = ret[year][diselist[i]];
    }
    else {
      option.series[0].data[i].value =[0,0,0,0,0,0];
    }
  };
  myChart.setOption(option,true)
  })
};
    </script>
{% endblock %}
