<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>个人版</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../jquery/jquery-ui.min.css">
    <!--<script src="../jquery/jquery-ui.min.js"></script>-->
    <script src="../jquery/jquery.min.js"></script>

    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../myfile/mycss.css">
    <script src="../echarts/echarts.js"></script>
    <script>
        window.onload=function(){
            // loadData();
            // alert('页面加载完成！');
        }
    </script>
    <link rel="stylesheet" href="../myfile/gerenban.css">

<body>
<div class="row head-top">
    <div class="row" style="width: 100%;height: 80px;" >
        <div class="col-md-3" style="">
            <img src="../img/pudlic-logo.png" alt="" style="float: right;margin-top: 5%">
        </div>
        <div class="col-md-8 toptext" style="text-align:center; margin-top: 1.5%;padding-left: 0;">
            <label for="" style="font-size: x-large;float: left;color: #9b9b9b;">|</label>
            <label for="" style="font-size: xx-large;float: left;color: #67a2cd;margin-left: 1%">个人版</label>
        </div>
    </div>
</div>

<div class="row center-0">
    <div class="col-md-9 bg"style="">
        <div class="row">
            <div class="biaoqian">
                <label style="color: #b558f6; font-size: large;">最近检查结果及指标变化趋势</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row kuai" style="margin-left: 40%">
                <a href="bingtu.html"><img class="tupian" src="../img/nianling.png" alt="" style=""></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row kuai">
                <a href="bingtu.html"><img class="tupian" src="../img/xingbie.png" alt="" style=""></a>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default" style="">
                <div class="row">
                    <div class="col-md-8 jd_header">
                        <input type="search" class="header_search" id="searchInput" placeholder="输入关键字搜索">
                        <input type="button" class="btn btnguide header_glass"></button>
                    </div>
                    <div class="col-md-3 zixunrow">
                        <input type="button" class="btn zixun"></button>
                    </div>
                </div>
                <div class="panel-body scroll1" style="height: 600px">
                    <div class="row xw_c">
                        <ul>
                            <li class="a">
                                <a href="">
                                    <img src="../img/news.png" alt="" style="border-radius:10px;">
                                    <h3>医保目录调整，或将改善罕见病患者用药现状</h3>
                                    <p>瓷娃娃、渐冻人、睡美人、狼人症......随着社会对罕见病关注度的不断提升  ... ...</p>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="row xw_c">
                        <ul>
                            <li class="a">
                                <a href="">
                                    <img src="../img/news.png" alt="" style="border-radius:10px;">
                                    <h3>医保目录调整，或将改善罕见病患者用药现状</h3>
                                    <p>瓷娃娃、渐冻人、睡美人、狼人症......随着社会对罕见病关注度的不断提升  ... ...</p>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="row xw_c">
                        <ul>
                            <li class="a">
                                <a href="">
                                    <img src="../img/news.png" alt="" style="border-radius:10px;">
                                    <h3>医保目录调整，或将改善罕见病患者用药现状</h3>
                                    <p>瓷娃娃、渐冻人、睡美人、狼人症......随着社会对罕见病关注度的不断提升  ... ...</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row xw_c">
                        <ul>
                            <li class="a">
                                <a href="">
                                    <img src="../img/news.png" alt="" style="border-radius:10px;">
                                    <h3>医保目录调整，或将改善罕见病患者用药现状</h3>
                                    <p>瓷娃娃、渐冻人、睡美人、狼人症......随着社会对罕见病关注度的不断提升  ... ...</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row xw_c">
                        <ul>
                            <li class="a">
                                <a href="">
                                    <img src="../img/news.png" alt="" style="border-radius:10px;">
                                    <h3>医保目录调整，或将改善罕见病患者用药现状</h3>
                                    <p>瓷娃娃、渐冻人、睡美人、狼人症......随着社会对罕见病关注度的不断提升  ... ...</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row xw_c">
                        <ul>
                            <li class="a">
                                <a href="">
                                    <img src="../img/news.png" alt="" style="border-radius:10px;">
                                    <h3>医保目录调整，或将改善罕见病患者用药现状</h3>
                                    <p>瓷娃娃、渐冻人、睡美人、狼人症......随着社会对罕见病关注度的不断提升  ... ...</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row xw_c">
                        <ul>
                            <li class="a">
                                <a href="">
                                    <img src="../img/news.png" alt="" style="border-radius:10px;">
                                    <h3>医保目录调整，或将改善罕见病患者用药现状</h3>
                                    <p>瓷娃娃、渐冻人、睡美人、狼人症......随着社会对罕见病关注度的不断提升  ... ...</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row xw_c">
                        <ul>
                            <li class="a">
                                <a href="">
                                    <img src="../img/news.png" alt="" style="border-radius:10px;">
                                    <h3>医保目录调整，或将改善罕见病患者用药现状</h3>
                                    <p>瓷娃娃、渐冻人、睡美人、狼人症......随着社会对罕见病关注度的不断提升  ... ...</p>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3" style="float:right;">
        <!--<img src="../img/Card.png" alt="" style="width: 343px">-->
        <div class="row card" style="background: #598df3;margin-left: 2%;border-Radius:30px;margin-top: 5%;">
            <div class="row" style="margin-top: 6%;margin-left: 5%">
                <div class="col-md-3">
                    <img src="../img/timg.png" alt="">
                </div>
                <div class="col-md-6">
                    <div class="row" style="margin-top: 4% ">
                        <div class="col-md-6 font-Semibold">
                            <label for="">赵在众</label>
                        </div>
                        <div class="col-md-6 font-Semibold">
                            <label for="">专家</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 font-Regular" style="margin-top: 4%">
                            <label for="">北京</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row" style="margin-top: 10%">
                        <img src="../img/log-out.png" alt="">
                    </div>
                    <div class="row font-Regular">
                        <label for="">退出</label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 7%;margin-top: 5%">
                <div class="col-md-3">
                    <img src="../img/cloud-snow.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4 temperature" style="margin-left: 0;padding-left: 0;">
                            <label for="">18</label>
                            <label for="">℃</label>
                        </div>
                        <div class="col-md-8 quality">
                            <label for="">AQI: </label>
                            <label for="">180</label>
                            <label for="">优</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <label for="">12-14</label>
                        <label for="">℃</label>
                        <label for="">中雨</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <span> </span>
                <br>
            </div>
        </div>
        <div class="row">
            <img src="../img/pudlic-logo.png" alt="" style="margin-left: 20%;margin-top: 50%;">
        </div>
    </div>
</div>
</div>
</div>
<div class="row footer_top" style="clear: both;z-index: 100000">
    <div class="col-md-1 r">  </div>
    <div class="col-md-1 r">
        <a href="">TERMS&CONDITIONS</a>
    </div>
    <div class="col-md-1 r">
        <a href="">PRIVACY</a>
    </div>
    <div class="col-md-1 r">
        <a href="">FAQ</a>
    </div>
    <div class="col-md-3" style="float: right"></div>
    <div class="col-md-3" style="float: right">©2019 普泽众康</div>


</div>
</body>
</html>