{% extends 'myechartsite/base_index_expert.html' %}
{% load staticfiles %}
{% block title %}变换趋势{% endblock %}
{% block css %}<link href="{% static 'myechartsite/inditrendcss.css' %}" rel="stylesheet"/>{% endblock %}
{% block kind %}疾病与年份{% endblock %}

<!-- {% block leftsidebar %}
    <div class="btn-group-vertical" role="group" id="lbtngp" aria-label="类型">
      <button type="button" class="btn btn-default  btn-block unshow">疾病与年龄</button>
      <button type="button" class="btn btn-default unshow">疾病与性别</button>
      <button type="button" class="btn show">疾病与环境</button>
      <button type="button" class="btn btn-default unshow">疾病与地域</button>
    </div>
{% endblock %} -->
{% block chart %}
<div class="row" style="color:#fff;">
  {% for x in data %}
  {{x.ratio}}
  {% endfor %}
  </div>
<div class=row">
<ul class="pagination pagination-sm">
{{ page_obj.page_html|safe }}
</ul>
</div>
{% endblock %}
{% block rightsidebar %}

{% endblock %}
{% block js%}
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>

{% endblock %}
